* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30%);
  }
}

.logos {
  overflow: hidden;

  white-space: nowrap;
  position: relative;
  width: 100%; /* Ensure it takes up full width */
  height: 450px; /* Adjust height as needed */
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(235, 243, 231, 0.631)
  );
}

.logos:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(235, 243, 231, 0.631)
  );
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  animation: slide 35s infinite linear;
}

.carousel-card {
  flex: 0 0 auto;
  width: 250px; /* Ensure images cover the card width */
  height: 100%; /* Maintain aspect ratio */
  margin: 0 40px; /* Adjust spacing between cards */
  /* Add any additional styling for your cards */
}
