/* DisplayCards.css */


.card {
    max-width: 500px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    
  }
  
  .card-media {
    width: 300px; /* Set your desired width */   
  }
  
  .card-content {
    flex-grow: 1;
  }
  
  .card-actions {
    display: flex;
    justify-content: space-between;
  }
  

