/* DisplayCards.css */


.card {
    max-width: 500px;
    margin: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .card-media {
    height: 200px;
  }
  
  .card-content {
    flex-grow: 1;
  }
  
  .card-actions {
    display: flex;
    justify-content: space-between;
  }
  

 