@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}

.display-card {
  width: 250px;  
  height: 320px; 
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.display-card-media {
  width: 100%; 
  height: 200px; /* Adjust if needed to fit within the card height */
  object-fit: cover;
  font-family: 'Quicksand';
}

.display-card-content {
  flex-grow: 1;
  text-align: center;
  overflow: hidden; /* Ensure content does not overflow */
  margin-top: 1px;
}

.display-card-content .MuiTypography-root {
  font-family: 'Quicksand', sans-serif; /* Change to your desired font family */
  font-size: 25px; /* Change to your desired font size */
  
}




.display-card-actions {
  margin-top: 10px;
}
