
  .header-section {
    text-align: center; /* Center align the header */
    margin-bottom: 40px; /* Add margin at the bottom of the header */
  }
  

.header-title {
  margin-bottom: 50px; /* Adjust the value as needed */
}

h2 {
  margin-top:30px; /* Adjust the value as needed */
  color: #1a4d66; /* Set text color */
  font-family: 'Times New Roman', Times, serif;
}

  .header-title {
    font-size: 36px; /* Adjust font size for the header */
    
    font-weight: bold; /* Set font weight to bold */
    color: #1a4d66; /* Set text color */
  }
  
  .events-list-container {
    padding: 20px; /* Add padding to the container */
    margin: 50px auto 0; /* Center align the container and add top margin */
    max-width: 1200px; /* Limit maximum width of the container */
  }