

@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}



 .header-section {
    text-align: center; /* Center align the header */
    margin-bottom: 100px; /* Add margin at the bottom of the header */
  }
  

h1{
   text-align: center;
}



h2 {
  margin-top:30px; /* Adjust the value as needed */
  color: #1a4d66; /* Set text color */
  font-family: 'Quicksand';

}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the loader is centered vertically in full viewport height */
}

.header-slogan{
  font-size: 16px; /* Adjust font size for the header */
  font-family: 'Quicksand';
  text-align: center;

  color:#5F767C;
}

.header-title {
    font-size: 40px; /* Adjust font size for the header */
    font-family: 'Quicksand';
    font-weight: bold; /* Set font weight to bold */
    color:#1CA8DD;

}
  
  .events-list-container {
    padding: 10px; /* Add padding to the container */
    margin: 50px auto 0; /* Center align the container and add top margin */
    max-width: 1200px; /* Limit maximum width of the container */
  }
  
  .past-winner-title {
    text-align: center; /* Center the title */
    font-size: 2rem; /* Adjust font size as needed */
    margin-bottom: 20px; /* Space below the title */
    text-shadow: 2px 2px 4px rgba(233, 233, 233, 0.8); /* Adding text shadow */
  }
  
  .past-winners-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards horizontally */
    gap: 20px; /* Space between cards */
    padding: 20px; /* Padding around the section */
  }



  .main-page-divider{
    margin-top: 500px
  }


  .past-event-title{
    font-size: 20px;
    margin-top: -50px;
    
  }