
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100 900;
    src: url('./fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Custom';
    src: url('../../fonts/Didact_Gothic/DidactGothic-Regular.ttf') format('truetype');
}

.custom-NavBar {
    background-color: transparent !important;
    box-shadow: none !important;
   
}

.custom-NavBar h4 {
    display: inline-block;
    margin-right: 100px;
    margin-top: 10px;
    color:#125d78;
    font-size: 16px;
    font-family: 'Quicksand';
    vertical-align: middle;
}


.custom-signup-button,
.custom-login-button,
.custom-logout-button,
.custom-NavBar .MuiButton-root {
    color:#5F767C;
    text-transform: none; 
    font-size:16px;
    font-family: 'Quicksand';
    margin-top: 5px;
    margin-right: 15px;
    justify-content: center;
   

   
}









.custom-logout-button:hover{
  
    transform: scale(1.1);
  
}



@media (max-width: 992px) {
    .custom-NavBar .MuiButton-root {
        margin: 10px 0;

    }
}