@font-face {
    font-family: 'Quicksand';
    src: url('../../fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  }
  

  .winner-event-card {
    width: 1000px;
    margin: 0 auto; /* Center the container if needed */
    box-sizing: border-box;
  }
  
  .winner-event-card-media {
    width: 100%; 
    height: 400px; /* Adjust if needed to fit within the card height */
    object-fit: cover;
    font-family: 'Quicksand';
    font-size: 20px;
  }
  

  
  .winner-event-card-content {
    flex-grow: 1;
    text-align: center;
    overflow: hidden; /* Ensure content does not overflow */
    margin-top: 1px;
    font-size: 20px;
  }
  
  .winner-event-card-content .MuiTypography-root {
    font-family: 'Quicksand', sans-serif; /* Change to your desired font family */
    font-size: 15px; /* Change to your desired font size */
  }



  