

.hold-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center cards horizontally */
  padding: 20px;
  margin: 50px auto 0; /* Center align the container and add top margin */
  max-width: 1200px;
}

.display-idea {
  flex: 1 1 calc(33.333% - 40px); 
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
}

.header-title {
  text-align: center;
}

.header-slogan {
  text-align: center;
}

.winner-idea-section {
  text-align: center;
  margin-top: 20px;
  align-items: center;
}

.winner-idea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center cards horizontally */
  padding: 20px;
  
  
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
