
body {
  background-color: white;
}

.auth-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 90vh;
    
    background-color: white;
  }
  
  .auth-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .auth-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  
  .auth-form p {
    margin: 0 0 5px 0;
    font-size: 14px;
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
  }
  
  .auth-form h1 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(13, 40, 56);
  }
  
  .auth-form input {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .auth-form .password-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
  }
  
  .auth-form .password-input input {
    flex: 1;
    padding-right: 40px; /* Space for the view-password button */
  }
  
  .auth-form .view-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 40px; /* Fixed width for the button */
    height: 60%; /* Ensures button is full height of the input */
    background-color: rgb(10, 40, 73); /* Background color to ensure visibility */
    margin-top: 10px; /* Slight margin from the input field */
  }
  
  .auth-form button {
    padding: 10px;
    background-color: rgb(10, 40, 73);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .auth-form button:hover {
    background-color: darkgray;
  }
  
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: rgb(13, 40, 56);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .back-button:hover {
    background-color: darkgray;
  }
  
.auth-bg {
  flex: 1;
  background-image: url('../../assets/registration.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
} 




  .sign-up-button {
    padding: 10px 20px;
    background-color: rgb(13, 40, 56);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 10ssspx;
    right: 20px;
  }
  
  .sign-up-button:hover {
    background-color: darkgray;
  }
  
  .logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 1px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  